@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f5f8;
}
.container {
    width: 90vw;
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}


h2{
    color: #102A42;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

#form {
    margin: 32px 0 64px;
}

label {
    color: #063251;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
}

input {
    width: 4rem;
    padding: 4px 8px;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    margin: 0 8px;
}

button{
    background-color: #49A6E9;
    color: #063251;
    border: none;
    border-radius: 0.5rem;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
}
 
button:hover{
    color: #49a6e9;
    background-color: #a5d5f8;
}

article{
    color: #617d98;
}

